<section class="main-logo">
    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="">
</section>

<section class="main-input">
    <div class="main-input-container">
        <span class="search-icon">

        </span>
        <input type="text">
        <a class="micro-icon" href=""></a>
    </div>
</section>

<section class="main-buttons">
    <div class="buttons">
        <button mat-button>Buscar con Google</button>
    </div>
    <div class="buttons">
        <button mat-button> Me siento con suerte</button>
    </div>
</section>
<section class="coment">
<a >Ofrecido por Google en: </a>
<a href="">English</a>
</section>
