<nav>
    <ul class="nav-right-section">
        <li><a href="https://mail.google.com/">Gmail</a> </li>
        <li><a href="https://www.google.com.mx/imghp">Imágenes</a></li>
        <li>
            <a>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu> </a></li>
        <li>
            <a href="">
                <img src="https://lh3.googleusercontent.com/ogw/ADea4I6Wrf95C601FkNzET2IxsZHvt7CK9WZz7e6iyunQuU=s32-c-mo" alt="">
            </a>
        </li>
    </ul>
</nav>
